<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файлов</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body class="container custom">
    <p hidden="hidden" id="group">{{ group }}</p>
    {% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <form novalidate method="post" id="UploaadForm" onsubmit="return false;" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Загрузка файлов</h2>
        <p>
            Файл (общий объём загружаемых файлов не должен превышать 30 МБ)<br/>
            {{ form.file }}
            {% if form.file.errors %}
                {% for error in form.add_files.errors %}
                    <li class="alert alert-danger"> {{error}} </li>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            Наименование документов<br/>
            {{ form.file_name }}
            {% if form.file_name.errors %}
                {% for error in form.file_name.errors %}
                    <li class="alert alert-danger"> {{error}} </li>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            Комментарий к файлам<br/>
            {{ form.comment }}
            {% if form.comment.errors %}
                {% for error in form.file_comment.errors %}
                    <li class="alert alert-danger"> {{error}} </li>
                {% endfor %}
            {% endif %}
        </p>
        <button class="turquoise-button" onclick="document.forms['UploaadForm'].submit();">Загрузить</button>
        <button class="blue-button" id="filemanage"><a style="color:white" href="{% url 'fileManage' id=reestr.id %}">Вернуться к файлам</a></button>
        <button class="blue-button" id="reestmanage" hidden><a style="color:white" href="{% url 'homeGIP' id=reestr.id %}">Вернуться к реестру</a></button>
    </form>
    {% else %}
    <p>Вы не авторизованы</p>
    <button class="blue-button"><a style="color:white" href="{% url 'login'%}?next={{request.path}}">Вход</a></button>
    {% endif %}
    <script>
        if (document.getElementById("group").innerHTML != "ГИП") {
            document.getElementById("filemanage").setAttribute("hidden","");
            document.getElementById("reestmanage").removeAttribute("hidden");
        }
    </script>
</body>
</html>